<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon"  href="{{ url_for('static',filename='fevicon.ico')}}" >

</head>
<body class="youtube">
<center >
    <form action="" method="POST" style="padding-top: 200px;">
        <input type="text" placeholder="PASTE YOUR URL HERE " name = 'url' class = 'qrinput'> <br> <br>
        <button type = 'submit' value="Download" class="button"><span> Download</span></button>

    </form>
</center>
</body>
</html>